<div class="slider">
    <div class="slider-inner-wrap">
        <div class="slide" ng-repeat="item in images" ng-show="item.visible" >

            <!-- begin: inner-image-wrap -->
            <div class="inner-image-wrap" ng-if="item.type !== 'inner-slides'  && item.type !== 'inner-images-desc'">

                <div class="text-wrap" ng-if="item.type !== 'inner-slides' && item.shortDesc">
                    <div class="title" ng-bind-html="'[[item.shortDesc]]' | htmlize"></div>
                    <!--<div ng-bind-html="'[[item.fullDesc]]' | htmlize" class="text-standard"></div>-->

                    <div ng-bind-html="'[[item.fullDesc]]' | htmlize" class="text-standard" redirect-to></div>

                    <!-- begin: options-wrap -->
                    <div class="options-wrap" ng-if="item.options">
                        <ul>
                            <li ng-repeat="option in item.options" class="option-item-wrap">
                                <label for="[[option.id]]">
                                    <input type="radio" name="Answer" id="[[option.id]]" value="[[option.id]]" />
                                    <span ng-bind-html="'[[option.titleDesc]]' | htmlize"></span>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <!-- begin: options-wrap -->
                </div>

                <div class="img-wrap" ng-if="item.type">
                    <img ng-src="images/[[item.src]]" />
                </div>
            </div>
            <!-- end: inner-image-wrap -->

            <!-- begin: inner-tutorials-wrap -->
            <div class="inner-tutorials-wrap" ng-if="item.type === 'inner-slides'">
                <div class="inner-slides-wrap">
                    <div ng-repeat="subitem in item.items" class="inner-content-wrap">
                      <span content="subitem" src="subitem.src" data="subitem" class="tutorials-short-desc short-desc">
                      </span>
                    </div>
                    <span ng-bind-html="'[[item.shortDesc]]' | htmlize" class="short-desc" redirect-to></span>
                </div>
                <div class="video-inner-wrap" ng-hide="videoHidden">
                    <video vg-src="videoSources" preload="metadata" controls></video>
                </div>
            </div>
            <!-- end: inner-tutorials-wrap -->

            <!-- begin: inner-image-wrap -->
            <div class="inner-image-wrap" ng-if="item.type === 'inner-images-desc'">
                <div class="text-wrap" ng-if="item.type !== 'inner-slides' && item.shortDesc">
                    <div class="title">[[item.shortDesc]]</div>

                    <div ng-bind-html="'[[item.fullDesc]]' | htmlize" redirect-to></div>

                    <ul>
                        <li ng-repeat="link in item.linkItems">
                            <span class="link-wrap" index="$index" text="link.text" ng-bind-html='"[[link.title]]" | htmlize'></span>
                        </li>
                    </ul>
                </div>
                <div class="img-wrap-desc" ng-if="wrapImgVisible">
                    <img ng-src="images/[[item.src]]" />
                </div>
                <div class="img-text-desc" ng-if="!wrapImgVisible">
                    <div class="theory-desc"></div>
                </div>
            </div>
            <!-- end: inner-image-wrap -->

        </div>

        <!-- begin: arrows -->
        <div class="arrows" ng-if="arrowsVisible && !testResults">
            <a href="#" ng-click="prev(sliderIndex)" ng-class="{'hidden': firstSlider}" class="first"></a>
            <span class="page-nums">[[currentIndex + 1]] / [[length]]</span>
            <a href="#" ng-click="next(sliderIndex)" ng-class="{'hidden': lastSlider}" class="last"></a>
        </div>
        <!-- end: arrows -->

    </div>
</div>